{
	"email" : "ehsanpeywandi13@gmail.com",
	"password" : "ehsan125135",
	"bot_token" : "Mjc4NTM1Njg0MTYyMTkxMzYw.C3tuJQ.8tWS01ahR3u_P1Ki6GgRwXd6Q94",
	"client_id" : "278535684162191360",
	"youtube_api_key": "AIzaSyCTM2-IZcEQz56acePzGqHvJNYpsebyBAk",
	"google_custom_search": "013319806945597110709:clzchpnxvrq",
	"imgflip_username": "OurMineTM",
	"imgflip_password": "ehsan125135",
	"wolfram_api_key": "4L683H-RHQ666JUGW"
}
